html {
  
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
   
  }
  
  h1{
    text-align: center;
  }
  
  p{
    text-align: justify;
    margin: 20px;
  }
  
  
  .material-symbols-outlined:hover {
    cursor: pointer;
  }
  
  .material-symbols-outlined {
    color: #ffffff;
  
    position: fixed;
    top: 15px;
    right: 15px;
  }
  