html {
  
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
 
}

h1{
  text-align: center;
}

p{
  text-align: justify;
  margin: 20px;
}


.material-symbols-outlined:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  color: #ffffff;

  position: fixed;
  top: 15px;
  right: 15px;
}

img{
  max-width: 300px;
}

button {
    
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
  
}

img {
  
  border-radius: 100%;
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
  
}

button:hover {
  background-color: #000000;
  color: #fff;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */
  gap: 0px; /* Espacio entre las columnas */
}

.columna-izquierda {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

@media (max-width: 768px) {

  .main{
    display: grid;
    grid-template-columns: 1fr; /* Crea dos columnas de igual tamaño */
   
  }



}
  