

html {
  margin:0;
  padding: 0;
 
  text-align: center;
  font-family: 'Roboto', sans-serif;
 
  background-image: linear-gradient(to right, #0b0b0b 0%, black 100%);


  
  color: #ffffff;
 justify-content: center;
 font-size: 25px;
 
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1 !important;
}

video {
  position: absolute !important; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}



header{
  justify-content: center;
 
  text-shadow: #ffffff;
  padding: 0px;
 
 
  margin: 0;
  
  
 

}

header h1{
  
  color: #efb810;
  text-shadow: 2px 2px 4px#6e6002c2;
  font-weight: bold;
  justify-content: center;
  font-size: 80px;
  
  
  
}

h1{
 
  font-weight: bold;
  text-align: center;
  padding: 0px;
  text-shadow: 2px 2px 4px#6e6002c2;
  color: #efb810;
  text-shadow: 2px 2px 4px#6e6002c2;
  font-size: 50px;
}

.web p{
  color: #ffffff;

}

.hola_mundo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: auto;
  height: 750px;
  align-items: center;

}

.hola_mundo p{
  text-align: justify;
  padding: 20px;
  
 
}

.text{
  
 
  margin-right: 20px;
  margin-left: 20px;
 
  transform: scale(1);
  animation: zoomInAnimation 4s forwards;
  
  
}


.text img{
  width: 100px;
  margin-bottom: 40px;
  transform: rotate(0deg);
  animation: rotateAnimation 8s infinite linear;
}

.Portafolio{

  

  justify-content: center;
  padding-bottom: 40px;


}
.imagen_yael img{
  
  border-radius: 100%;
  width: 500px;
  box-shadow: 1px 1px 20px#000000;
  transform: translateX(-100%);
  animation: slideInLeftAnimation 2s forwards;
  
  
 
}

.contenedor-web{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  justify-content: center;
}

button {
    
  padding: 10px 20px;
  background-color: #ffffff;
  color: #303030;
  border: 2px solid #000000;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  
  width: 300px;
  text-align: center;
  
}

.web img{
  width: 270px;
  border-radius: 5%;
  box-shadow: 2px 2px 9px#000000;
  
}



button:hover {
  background-color: #efb810;
  color: #fff;
}

.web{
  transform: scale(1);
  animation: zoomInAnimation 10s forwards;
  
  border-radius: 30px;
  padding: 20px;
}


footer h1{
  color: rgb(236, 234, 247);
  text-shadow: 2px 5px 4px#ffffff33;
  font-weight: bold;
  justify-content: center;
  
}
  
footer{
  justify-content: center;
  text-shadow: #ffffff;
  padding: 0px;
 

}
  
.yt{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  justify-content: center;
  margin-bottom: 40px;
  transform: scale(1);
  animation: zoomInAnimation 8s forwards;
}

.yt p{
  text-align: center;
  padding: 10px;
}

.yt h3{
  color: #efb810;
  font-size: 35px;
  

}

iframe{
  width: 450px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 9px#000000;
  border: 2px solid rgb(255, 255, 255);
}
footer img{

  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer h1{
  color: #fff;
  
}

.contenedor-medio{
 margin-top: 70px;
height:auto;

 
}

@keyframes slideInLeftAnimation {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes zoomInAnimation {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes rotateAnimation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 835px) {
  
  .hola_mundo{
    display: grid;
    grid-template-columns:1fr;
    margin-top: 40px;
    margin-bottom: 60px;
    height: auto;
  }

  .imagen_yael img{
  
    border-radius: 100%;
    width: 350px;
    box-shadow: 2px 2px 9px#000000;
    
   
  }
  .yt{
    display: grid;
    grid-template-columns: 1f;
    justify-content: center;
    width: auto;
    height: auto;
  }

  iframe{
    width: 320px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px#000000;
  }

  .text{
   
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  header h1{
  
    color: #efb810;
    text-shadow: 2px 2px 4px#6e6002c2;
    font-weight: bold;
    justify-content: center;
    font-size: 70px;
    
    
    
  }

  html {

    background-image: linear-gradient(to right, #0b0b0b 0%, black 100%) !important;

  }

  video {
  display: none;
  }
  

}