

html {
  margin:0;
  padding: 0;
 
  text-align: center;
  font-family: 'Roboto', sans-serif;
 
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: #ffffff;
 justify-content: center;
 
}
header{
  justify-content: center;
  text-shadow: #ffffff;
  padding: 20px;
 background-color: #ffffff20;
  margin: 0;
  

}

header h1{
  
  color: rgb(236, 234, 247);
  text-shadow: 2px 5px 4px#ffffff33;
  font-weight: bold;
  justify-content: center;
  
}

h1{
 
  font-weight: bold;
  text-align: center;
  padding: 20px;
  
}
h2{
  color: rgb(255, 255, 255);
  padding: 36px;
}

.web p{
  color: rgb(243, 243, 243);
  font-size: small;

}

.hola_mundo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  margin-bottom: 30px;
  justify-content: center;
}

.hola_mundo p{
  text-align: justify;
  padding: 30px;
}



.Portafolio{

  

  justify-content: center;
  padding-bottom: 40px;


}
.imagen_yael img{
  
  border-radius: 100%;
  width: fit-content;
  box-shadow: 2px 2px 9px#000000;
  
  
 
}

.contenedor-web{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  justify-content: center;
}

button {
    
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  
  width: 300px;
  text-align: center;
  
}

.web img{
  width: 270px;
  border-radius: 5%;
  box-shadow: 2px 2px 9px#000000;
}



button:hover {
  background-color: #000000;
  color: #fff;
}




footer h1{
  color: rgb(236, 234, 247);
  text-shadow: 2px 5px 4px#ffffff33;
  font-weight: bold;
  justify-content: center;
}
  
footer{
  justify-content: center;
  text-shadow: #ffffff;
  padding: 20px;
 background-color: #ffffff20;
  margin: 0;

}
  
.yt{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  justify-content: center;
  margin-bottom: 40px;

}

iframe{
  width: 450px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 9px#000000;
}
footer img{

  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}


@media screen and (max-width: 835px) {
  
  .hola_mundo{
    display: grid;
    grid-template-columns:1fr;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .imagen_yael img{
  
    border-radius: 100%;
    width: 280px;
    box-shadow: 2px 2px 9px#000000;
    
   
  }
  .yt{
    display: grid;
    grid-template-columns: 1f;
    justify-content: center;
    width: auto;
    height: auto;
  }

  iframe{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px#000000;
  }

  


}