

html {
  margin: 0;
  padding: 0;
 
  text-align: center;
  font-family: 'Roboto', sans-serif;
 
  background-color: rgb(37, 31, 73);

  color: #ffffff;
 
 
}
header{
  margin: auto;
}

header h1{
  
  color: darkorange;
  text-shadow: #ffffff;
  padding: 20px;
  
  
}

h1{
  color: mediumorchid;
  font-weight: bold;
  text-align: center;
  
}
h2{
  color: mediumorchid;
}

.web p{
  color: rgb(243, 243, 243);
  font-size: x-small;
}

.hola_mundo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 60px;
}

.text p{
  padding: 20px;
 
}

h2{
  margin-bottom: 30px;
  padding: 40px;
}

.Portafolio{
  background-color: darkslateblue;
  margin: 0px;
  padding-bottom: 40px;

}
.imagen_yael img{
  
  border-radius: 100%;
  
 
}

.contenedor-web{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

button {
    
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  
  width: 300px;
  text-align: center;
  
}

.web img{
  width: 250px;
}



button:hover {
  background-color: #000000;
  color: #fff;
}



@media screen and (max-width: 835px) {
  
  .hola_mundo{
    display: grid;
    grid-template-columns:1fr;
    margin-top: 40px;
    margin-bottom: 60px;
  }




}